.row
  .col-md-12
    .box
      .box-header
        %h3.box-title
          NOT FOUND
      .box-body
        %p
          Error in path.

        %a.btn.btn-info.col-sm-12{ :href => preview_url(@project.id), :target => '_blank' }
          Back